*{
    margin: 0%;
    border: 0%;
}
header {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 70px;
    margin-left: 70px;
    padding: 20px;
    border-style: ridge;
    border-color: rgba(252, 236, 207, 0.466);
    background-color: rgba(0, 0, 0, 0.815);
}
.tituloTopo span {
    font-size: 175%;
    text-align: center;
    display: inline-block;
    background: linear-gradient(to right, #fff 50%, #000 50%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    padding: 0%;
}

.listaTopo {
    display: inline;
    font-size: 100%;
}

a {
    cursor: pointer;
}

.navTopo {
    text-align: right;
}

.linkTopo {
    color: rgb(28, 89, 182);
    text-decoration: none;
    cursor: pointer;
    padding: 1.5%;
}
footer{
    z-index: 999;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    display: inline-block;
    margin-top: auto;
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

#socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
#socials li{
    margin: 0 10px;
}
#socials a{
    text-decoration: none;
    color: white;
}
#socials a i{
    font-size: 1.1rem;
    transition: color .1s ease;

}
#socials a:hover i{
    color: grey;
}